body{
    display:grid; /*está dividindo o site em formato grid*/
    grid-gap: 20px;
    grid-template-areas: 
    "cabeca cabeca cabeca cabeca"
    "esquer princi princi direit"
    "rodape rodape rodape rodape"; /*mostra como o grid vai aparecer no site*/
    grid-template-columns: 300px auto auto 300px; 
    grid-template-rows: auto auto auto auto;
}
.grid_h{
    grid-area: cabeca;
    display: flex;
}
.grid_m{
    grid-area: princi;
}
.grid_e{

    grid-area: esquer;/*parte que compõe uma área da grade*/
    padding-left: 10px;/*define o espaço no lado esquerdo*/
    text-align: center;/*alinha o texto centralmente*/
    color: black;/*altera cor de letra para preto*/
    background-color:green;/*altera cor de fundo*/
    border-style: groove;/*estilo de borda em groove*/
    line-height: 1.5;/*define espaçamente entre linhas*/
    padding-top: 5%;/*define espaçamento interno superior*/
    padding-bottom: 5%;/*define espaçamento interno inferior*/

}
.grid_d{
    grid-area: direit;/*parte que compõe uma área da grade*/
    padding-left: 10px;/*define o espaço no lado esquerdo*/
    text-align: center;/*alinha o texto centralmente*/
    color: black;/*altera cor de letra para preto*/
    background-color:green;/*altera cor de fundo*/
    border-style: groove;/*estilo de borda em groove*/
    line-height: 1.5;/*define espaçamente entre linhas*/
    padding-top: 5%;/*define espaçamento interno superior*/
    padding-bottom: 5%;/*define espaçamento interno inferior*/
}
.grid_f{
    grid-area: rodape;
    display: flex;
}
